i.icon {
    font-family: sans-serif;
}

i.icon.close:before {
    content: "x"
}

i.icon.delete:before {
    content: "x"
}

.ui.multiple.dropdown {
    padding: .25em 0em .25em .35em;
}

.ui.form textarea {
    padding: .75em 0em .75em .35em;
}

.ui.modal *, .ui.modal *:before, .ui.modal *:after {
    box-sizing: inherit;
}

.ui.modal {
    box-sizing: border-box;
}