i.icon {
    font-family: sans-serif;
}

i.icon.close:before {
    content: "x"
}

i.icon.delete:before {
    content: "x"
}

.modal .content {
    max-width: 77%;
}

.ui.multiple.dropdown {
    padding: .25em 0em .25em .35em;
}

.ui.form textarea {
    padding: .75em 0em .75em .35em;
}