
/* Override for Semantic-UI to be able to load Icons from a chrome extension */
@font-face {
    font-family: Icons;
    src: url(chrome-extension://__MSG_@@extension_id__/icons/semantic-ui/icons.eot);
    src: url(chrome-extension://__MSG_@@extension_id__/icons/semantic-ui/icons.eot?#iefix) format('embedded-opentype'),
         url(chrome-extension://__MSG_@@extension_id__/icons/semantic-ui/icons.woff2) format('woff2'),
         url(chrome-extension://__MSG_@@extension_id__/icons/semantic-ui/icons.woff) format('woff'),
         url(chrome-extension://__MSG_@@extension_id__/icons/semantic-ui/icons.ttf) format('truetype'),
         url(chrome-extension://__MSG_@@extension_id__/icons/semantic-ui/icons.svg#icons) format('svg');
    font-style: normal;
    font-weight: 400;
    font-variant: normal;
    text-decoration: inherit;
    text-transform: none
}

.ui.multiple.dropdown {
    padding: .25em 0em .25em .35em;
}

.ui.form textarea {
    padding: .75em 0em .75em .35em;
}

.ui.modal *, .ui.modal *:before, .ui.modal *:after {
    box-sizing: inherit;
}

.ui.modal {
    box-sizing: border-box;
}

.meta.wwltw-story:before {
    background-size: 18px 18px !important;
    background-image: url(chrome-extension://__MSG_@@extension_id__/icons/fatlogo.svg) !important;
}

.ui.message {
    font-size: 12px;
    color: white;
    background-color: rgb(19, 128, 120);
    border-radius: 0;
    box-shadow: none;
}

.ui.message a {
    border-bottom: 1px solid #8CC9FF;
    color: #8CC9FF;
}